
/* REMOVE DEFAULT STYLES*/

.navbar ul{
margin: 0;
padding: 0;

}

p {
margin: 0;
padding: 0;

}

a {
text-decoration: none;

}

/* GENERAL (TWO PAGES) */

body {
background-color: #767676;

}

.col {

float: left;
width: 46%;
margin: 0 2% 0 2%;
background-color: white;

}





/* FIRST AND SECOND COLUMN SIZE */


.first section {
width: 33.33%;
float: left;
padding-bottom: 10px;
}

.second section {
width: 33.33%;
float: left;
}



/* COLUMNS CONTENT */

.title {

width: 100%;
color: white;
background-color: #8b8b8b;
text-align: center;
}

.img {

width: 100%;

}


/* NAVBAR*/

.navbar {
margin-top: 25px;

}
.navbar ul li a {
background-color: #8b8b8b;
font-size: 20px;
}

.navbar ul li a:visited {
color: white;

}

.banniere {

float: right;
height: 97px;
width: 620px ;
}


/* HEADER */

#logo {

	float: left;
}

header {
width: 100%;
height: 79px;
background-color: tomato;
font-style: italic;
}

header p a:visited {
color: white;

}

header p {
font-size: 35px;

}

/* POSITION NAVRIGHT*/

.navright {
float: right;
text-align: right;
width: 100%;
height: 79px;
background-color: #0397c7;
}

 .navright li {
	display: inline;
font-size: 20px;

}

.navright ul img {
float: left;

}

.navright li a:visited {
color: white;

}


/* MORE BUTTON */


